html, body {
    height: 100%;
}

body {
    color: rgb(95, 120, 131);
    font-family:"Helvetica Neue", sans-serif;
    font-weight: 200;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

.container-fluid {
    height: 100%;
    overflow: auto;
}

.row-fluid {
    height: 100%;
    overflow: auto;
}

.left-page-content {
    height: 100%;
    overflow: auto;
}

.right-page-content {
    height: 100%;
    border-left-style: solid;
    border-width: 1px;
    border-color: #95a5a6;
    overflow: scroll;
}

.right-page-content-heading {
    font-size: 27px;
    font-weight: 200;
    text-align: center;
    padding-top: 21px;
    padding-bottom: 21px;
    border-width: 1px;
    border-color: #95a5a6;
    color: #ecf0f1;
    background-color: #2980b9;
    margin-left: -15px;
    margin-right: -15px;
}

.top-search-spacing {
    height: 20%;
}

.search-heading {
    font-size: 35px;
    font-weight: 200;
    padding-top: 20px;
}

.url-search-bar {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    padding-bottom: 10px;
}

input {
    color: rgb(95, 120, 131);
    font-family:"Helvetica Neue", sans-serif;
    font-weight: 300;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
}

.spinner {
    margin-top: 60px;
}

.navbar {
    margin-bottom : 0px;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 0px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 300;
}

.navbar .navbar-brand {
    font-size: 30px;
    font-weight: 400;
}

.navbar .nav > li > a {
    font-size: 20px;
    font-weight: 300;
}

.popular-site {
    border-bottom-style: solid;
    border-width: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.popular-site:hover {
    background-color: #ecf0f1;
    opacity: 0.7;
    cursor: pointer;
}

.first-site {
    border-top-style: solid;
    border-width: 1px;
}

/* Spinner */
.spinner {
    margin: 100px auto;
    width: 70px;
    height: 70px;
    position: relative;
}

.container1 > div, .container2 > div, .container3 > div {
    width: 10px;
    height: 10px;
    background-color: #27ae60;

    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}

.business-name {
    font-size: 30px;
    padding-bottom: 15px;
    color: #2c3e50;
}

.business-type-heading {
    font-size: 22px;
    color: #2c3e50;
}

.category {
    padding-top: 40px;
    overflow: visible;
}

.category-heading {
    font-size: 22px;
    color: #2c3e50;
}

.structured-data {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
 }

.category-item {
    line-height: 50px;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}

.category-item:hover {
    background-color: #16a085;
    color: #ecf0f1;
    cursor: pointer;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #7f8c8d;
}

.text-vertical-center {
    padding-top: 17px;
}

.ticker-content-left-spacing {
    padding-left: 25px;
}