{% extends "layout.html" %}
{% block content %}
<div class="col-md-9 left-page-content">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-items">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Semantix</a>
      </div>
    </div>
  </nav>
  <div class="top-search-spacing"></div>
  <div class="search-heading text-center"> Enter URL for Site </div>
  <div class="url-search-bar">
    <div class="form-group">
      <div class="input-group input-group-hg">
        <input class="form-control" type="search" id="search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" id="search-button"><span class="fui-search"></span></button>
        </span>
      </div>
    </div>
    <div class="text-danger text-center hide" id="search-url-error">Please enter a valid URL</div>
  </div>

  <div class="spinner hide" id="spinner">
    <div class="spinner-container container1">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
    <div class="spinner-container container2">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
    <div class="spinner-container container3">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
  </div>

  <div class="structured-data">
    <div class="business-name text-center"></div>
    <div class="text-center">
      <span class="business-type-heading"></span>
      <span class="business-type"></span>
      <span class="business-type-percentage"></span>
    </div>
    <div class="categories"></div>
  </div>
</div>

<div id="ticker-content" class="col-md-3 right-page-content">
  <div class="right-page-content-heading">
    Popular Sites
  </div>

  <div class="row popular-site first-site" data-url="www.bestbuy.com">
    <div class="col-md-4 ticker-content-left-spacing">
      <img src="/static/images/logos/best_buy_logo.png" alt="" width="70px" height="60px"/>
    </div>
    <div class="col-md-8 text-vertical-center">
      Best Buy
    </div>
  </div>

  <div class="row popular-site" data-url="www.papillonbistro.com">
    <div class="col-md-4 ticker-content-left-spacing">
      <img src="/static/images/logos/papillon_bistro_logo.jpg" alt="" width="70px" height="60px"/>
    </div>
    <div class="col-md-8 text-vertical-center">
      Papillon Bistro
    </div>
  </div>

  <div class="row popular-site" data-url="www.cpk.com">
    <div class="col-md-4 ticker-content-left-spacing">
      <img src="/static/images/logos/cpk_logo.png" alt="" width="70px" height="60px"/>
    </div>
    <div class="col-md-8 text-vertical-center">
      California Pizza Kitchen
    </div>
  </div>

  <div class="row popular-site" data-url="www.starbucks.com">
    <div class="col-md-4 ticker-content-left-spacing">
      <img src="/static/images/logos/starbucks_logo.png" alt="" width="65px" height="60px"/>
    </div>
    <div class="col-md-8 text-vertical-center">
      Starbucks
    </div>
  </div>

  <div class="row popular-site" data-url="www.auntyskitchen.ca">
    <div class="col-md-4 ticker-content-left-spacing">
      <img src="/static/images/logos/auntys_kitchen_logo.png" alt="" width="70px" height="60px"/>
    </div>
    <div class="col-md-8 text-vertical-center">
      Aunty's Kitchen
    </div>
  </div>

  <div class="row popular-site" data-url="www.drsboyd.com/">
    <div class="col-md-4 ticker-content-left-spacing">
      <img src="/static/images/logos/drs_boyd_logo.png" alt="" width="75px" height="60px"/>
    </div>
    <div class="col-md-8 text-vertical-center">
      Drs Boyd Dentistry
    </div>
  </div>

  <div class="row popular-site" data-url="www.ikea.com/us/en/">
    <div class="col-md-4 ticker-content-left-spacing">
      <img src="/static/images/logos/ikea_logo.png" alt="" width="70px" height="60px"/>
    </div>
    <div class="col-md-8 text-vertical-center">
      IKEA
    </div>
  </div>

  <div class="row popular-site" data-url="www.newel.com">
    <div class="col-md-4 ticker-content-left-spacing">
      <img src="/static/images/logos/newel_logo.jpg" alt="" width="65px" height="55px"/>
    </div>
    <div class="col-md-8 text-vertical-center">
      Newel Furniture
    </div>
  </div>

  <div class="row popular-site" data-url="www.swarovski.com">
    <div class="col-md-4 ticker-content-left-spacing">
      <img src="/static/images/logos/swarovski_logo.png" alt="" width="70px" height="60px"/>
    </div>
    <div class="col-md-8 text-vertical-center">
      Swarovski
    </div>
  </div>

  <div class="row popular-site" data-url="www.kennethcole.com">
    <div class="col-md-4 ticker-content-left-spacing">
      <img src="/static/images/logos/kenneth_cole_logo.png" alt="" width="85px" height="60px"/>
    </div>
    <div class="col-md-8 text-vertical-center">
      Kenneth Cole New York
    </div>
  </div>

  <div class="row popular-site" data-url="www.mcdonalds.com">
    <div class="col-md-4 ticker-content-left-spacing">
      <img src="/static/images/logos/mcdonalds_logo.png" alt="" width="70px" height="60px"/>
    </div>
    <div class="col-md-8 text-vertical-center">
      Mc Donalds
    </div>
  </div>

  <div class="row popular-site" data-url="www.walmart.ca">
    <div class="col-md-4 ticker-content-left-spacing">
      <img src="/static/images/logos/walmart_logo.png" alt="" width="85px" height="55px"/>
    </div>
    <div class="col-md-8 text-vertical-center">
      Walmart
    </div>
  </div>

  <div class="row popular-site" data-url="www.uniqlo.com/us/">
    <div class="col-md-4 ticker-content-left-spacing">
      <img src="/static/images/logos/uniqlo_logo.png" alt="" width="70px" height="60px"/>
    </div>
    <div class="col-md-8 text-vertical-center">
      Uniqlo
    </div>
  </div>

  <div class="row popular-site" data-url="www.ihop.com">
    <div class="col-md-4 ticker-content-left-spacing">
      <img src="/static/images/logos/ihop_logo.png" alt="" width="70px" height="60px"/>
    </div>
    <div class="col-md-8 text-vertical-center">
      IHOP
    </div>
  </div>

  <div class="row popular-site" data-url="www.necalgarydentist.com">
    <div class="col-md-4 ticker-content-left-spacing">
      <img src="/static/images/logos/marlborough_dental.png" alt="" width="70px" height="60px"/>
    </div>
    <div class="col-md-8 text-vertical-center">
      Marlborough Dental
    </div>
  </div>

  <div class="row popular-site" data-url="www.chinalegend.ca">
    <div class="col-md-4 ticker-content-left-spacing">
      <img src="/static/images/logos/china_legend_logo.png" alt="" width="70px" height="60px"/>
    </div>
    <div class="col-md-8 text-vertical-center">
      China Legend
    </div>
  </div>

  <div class="row popular-site" data-url="www.scullyandscully.com">
    <div class="col-md-4 ticker-content-left-spacing">
      <img src="/static/images/logos/scully_and_scully_logo.jpg" alt="" width="70px" height="60px"/>
    </div>
    <div class="col-md-8 text-vertical-center">
      Scully and Scully
    </div>
  </div>

</div>
{% endblock %}
