{% extends "layout.html" %}
{% block content %}
<div class="col-md-9 left-page-content">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-items">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Semantix</a>
      </div>
      <div class="collapse navbar-collapse pull-right" id="nav-items">
        <ul class="nav navbar-nav">
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="top-search-spacing"></div>
  <div class="search-heading text-center"> Enter URL for Site </div>
  <div class="url-search-bar">
    <div class="form-group">
      <div class="input-group input-group-hg">
        <input class="form-control" type="search" id="search">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" id="search-button"><span class="fui-search"></span></button>
        </span>
      </div>
    </div>
    <div class="text-danger text-center hide" id="search-url-error">Please enter a valid URL</div>
  </div>

  <div class="spinner hide" id="spinner">
    <div class="spinner-container container1">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
    <div class="spinner-container container2">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
    <div class="spinner-container container3">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
  </div>

  <div class="structured-data">
    <div class="business-name text-center"></div>
    <div class="text-center">
      <span class="business-type-heading"></span>
      <span class="business-type"></span>
      <span class="business-type-percentage"></span>
    </div>
    <div class="categories"></div>
  </div>
</div>

<div id="ticker-content" class="col-md-3 right-page-content">
  <div class="right-page-content-heading">
    Popular Sites
  </div>

  <div class="row popular-site first-site" data-url="www.bestbuy.com">
    <div class="col-md-3">
      <img src="/static/images/logos/best_buy_logo.png" alt="" width="100%" height="60px"/>
    </div>
    <div class="col-md-9">
      Best Buy
    </div>
  </div>

  <div class="row popular-site" data-url="www.cpk.com">
    <div class="col-md-3">
      <img src="/static/images/logos/cpk_logo.png" alt="" width="100%" height="60px"/>
    </div>
    <div class="col-md-9">
      California Pizza Kitchen
    </div>
  </div>

  <div class="row popular-site" data-url="www.starbucks.com">
    <div class="col-md-3">
      <img src="/static/images/logos/starbucks_logo.png" alt="" width="100%" height="60px"/>
    </div>
    <div class="col-md-9">
      Starbucks
    </div>
  </div>

  <div class="row popular-site" data-url="www.ihop.com">
    <div class="col-md-3">
      <img src="/static/images/logos/ihop_logo.png" alt="" width="100%" height="60px"/>
    </div>
    <div class="col-md-9">
      IHOP
    </div>
  </div>

  <div class="row popular-site" data-url="www.ikea.com/us/en/">
    <div class="col-md-3">
      <img src="/static/images/logos/ikea_logo.png" alt="" width="100%" height="60px"/>
    </div>
    <div class="col-md-9">
      IKEA
    </div>
  </div>

  <div class="row popular-site" data-url="www.mcdonalds.com">
    <div class="col-md-3">
      <img src="/static/images/logos/mcdonalds_logo.png" alt="" width="100%" height="60px"/>
    </div>
    <div class="col-md-9">
      Mc Donalds
    </div>
  </div>

  <div class="row popular-site" data-url="www.wendys.com">
    <div class="col-md-3">
      <img src="/static/images/logos/wendys_logo.png" alt="" width="100%" height="60px"/>
    </div>
    <div class="col-md-9">
      Wendy's
    </div>
  </div>

  <div class="row popular-site" data-url="www.abercrombie.ca">
    <div class="col-md-3">
      <img src="/static/images/logos/abercrombie-and-fitch-logo.png" alt="" width="100%" height="60px"/>
    </div>
    <div class="col-md-9">
      Abercrombie and Fitch
    </div>
  </div>

</div>
{% endblock %}
